.header {
  width: 100%;
  background-color: #2b2862;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
}

.content {
    /* border: 1px solid red; */
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-direction: column;
  text-align: center;
}

.logo img {
  width: 200px;
}

.textContent {
  flex: 1;
}

.title {
  color: #ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.4rem;
  /* text-align: center; */
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 0.5rem 0;
  letter-spacing: -0.02em;
}

/* .subtitle {
  color: #f0f2f5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  line-height: 1.5;
} */

@media (min-width: 768px) {
  .container {
    padding: 2.5rem 2rem;
  }
  
  .content {
    flex-direction: row;
    gap: 10px;
    text-align: right;
  }

  .title {
    font-size: 1.8rem;
  }

  /* .subtitle {
    border: 1px sslid green;
    font-size: 1.125rem;
  } */
}

@media (min-width: 1024px) {
  .title {
    font-size: 2rem;
  }

  /* .subtitle {
    font-size: 1.25rem;
  } */
}
