.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 3rem 1.5rem;
  border: 1px solid red ;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .container {
    padding: 4rem 2rem;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 5rem 2rem;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
  }
}
